<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ロレム・イプサム in オヤジギャグ</title>

    <!-- Bootstrap Core CSS -->
    <link href="/assets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/assets/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">ロレム・イプサム</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#what">オヤジギャグ100選</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">about</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">ロレム </br>・</br>イプサム</h1>
                        <p class="intro-text">Start Your Web Design with </br> 極上のオヤジギャグ100選 ロレム・イプサム</p>
                        <a href="#what" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="what" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>オヤジギャグ100選</h2>
                <p id="bar">
                     <ul>
                            <li>あ行　23選
                            【あ】
                            
                            　　アルミ缶の上にあるみかん
                            
                            　　ありがとうがらし
                            
                            　　新しいのがあったらしい 
                            
                            　　厚揚げをカツアゲ 
                            
                            　　アテネで会ってね 
                            
                            　　アメは甘めぇ 
                            
                            　　アルマーニじゃあるまいに
                            
                            
                            【い】
                            
                            　　いいヅラ買ったの言い辛かったの？
                            
                            　　椅子に座っても、いいっすか？
                            
                            　　トイレにいっといれ
                            
                            　　イカはいっか 
                            
                            　　以降これで行こう
                            
                            　　引用してもいいんよう 
                            
                            
                            【う】
                            
                            　　牛がうっしっし 
                            
                            　　ウメは旨めぇ 
                            
                            
                            【え】
                            
                            　　栄養がえぇよ～ 
                            
                            　　宴会やってもええんかい？ 
                            
                            
                            【お】
                            
                            　　おっぱいがいっぱい
                            
                            　　お金はおっかねぇ 
                            
                            　　御食事券の汚職事件 
                            
                            　　夫はおっとっと 
                            
                            　　お徳用置いとくよぉ
                            
                            　　オランダはオラんだ</li>
                            　　
                            <li>か行　14選
                            【か】
                            
                            　　カレーは、辛れ～！
                            
                            　　校長絶好調
                            
                            　　カエルがひっくりかえる
                            
                            　　カッターを買ったぁ 
                            
                            　　館内がわかんない 
                            
                            
                            【く】
                            
                            　　草刈ったら臭かった 
                            
                            　　靴がくっついた 
                            
                            　　グランプリは知らんぷり 
                            
                            
                            【こ】
                            
                            　　こんばん脇毛
                            
                            　　こんにちわんこ蕎麦
                            
                            　　今年の残暑はすごいざんしょ
                            
                            　　公費でコーヒー
                            
                            　　コーデネイトはこ～でねぇと 
                            
                            　　コンニャクは今夜食う</li>
                            　　
                            <li>さ行　14選
                            【さ】
                            
                            　　さいならっきょ
                            
                            　　最高だぜ！さあ行こう！
                            
                            　　酒浸りで叫びたい 
                            
                            
                            【し】
                            
                            　　シャッター押ししゃった～ 
                            
                            　　重大な十代 
                            
                            　　正直な掃除機 
                            
                            　　丈夫なびょうぶ 
                            
                            　　新郎の心労 
                            
                            
                            【す】
                            
                            　　スイカ安いか 
                            
                            
                            【せ】
                            
                            　　戦車の洗車
                            
                            　　先代は仙台 
                            
                            　　専用にはせんよ～ 
                            
                            
                            【そ】
                            
                            　　象だぞう 
                            
                            　　ソーダはうまそーだ</li>
                            　　
                            <li>た行　15選
                            【た】
                            
                            　　隊長の体調 
                            
                            　　竹は高けぇ 
                            
                            　　卓球で脱臼 
                            
                            　　タラも食べたら 
                            
                            　　ダンサーの番さぁ 
                            
                            
                            【ち】
                            
                            　　腸が超痛い 
                            
                            
                            【つ】
                            
                            　　ついたてについた手 
                            
                            　　机に付く絵
                            
                            
                            【て】
                            
                            　　転職で天職 
                            
                            　　店頭で転倒 
                            
                            　　電話しても誰もでんわ 
                            
                            
                            【と】
                            
                            　　ドイツ人はどいつだ 
                            
                            　　導火線をどーかせんと 
                            
                            　　銅像をどうぞ 
                            
                            　　ドジョウをどうじょ</li>
                            　　
                            <li>な行　８選
                            【な】
                            
                            　　内科は無いか？ 
                            
                            　　内緒はないっしょ 
                            
                            　　内臓がないぞ～ 
                            
                            　　内容がないよ～ 
                            
                            
                            【に】
                            
                            　　ニューヨークで入浴 
                            
                            
                            【ね】
                            
                            　　ネコが寝込んだ 
                            
                            　　熱帯夜でも寝たいや 
                            
                            
                            【の】
                            
                            　　飲んだくれを呼んでくれ</li>
                            　　
                            <li>は行　９選
                            【は】
                            
                            　　バッタがトイレで踏ん張った
                            
                            　　バーテンダーやってんだぁ 
                            
                            
                            【ひ】
                            
                            　　百貨店の落下点 
                            
                            　　兵庫の標語 
                            
                            
                            【ふ】
                            
                            　　不屈な腹痛 
                            
                            　　仏像をぶつぞ～ 
                            
                            　　布団がふっ飛んだ 
                            
                            
                            【ほ】
                            
                            　　保安官の不安感 
                            
                            　　坊ちゃんがボッチャン</li>
                            　　
                            <li>ま行　７選
                            【ま】
                            
                            　　枕で真っ暗 
                            
                            　　マダガスカル島でまだ助かるどう 
                            
                            　　マンハッタンで何しはったん 
                            
                            
                            【み】
                            
                            　　民宿でひんしゅく 
                            
                            
                            【む】
                            
                            　　虫は無視 
                            
                            
                            【め】
                            
                            　　メガネに目がねぇ 
                            
                            
                            【も】
                            
                            　　モノレールで戻れ～る？</li>
                            　　
                            <li>や行　２選
                            【や】
                            
                            　　屋根はや～ね～ 
                            
                            
                            【よ】
                            
                            　　妖怪に用かい？</li>
                            　　
                            <li>ら行　６選
                            【ら】
                            
                            　　ライトが暗いと 
                            
                            　　ランナーはいらんなぁ 
                            
                            
                            【り】
                            
                            　　理不尽な貴婦人 
                            
                            
                            【れ】
                            
                            　　レストランは決めとらん 
                            
                            　　レバー食べれば～ 
                            
                            
                            【ろ】
                            
                            　　ロシアの殺し屋は恐ろしあ</li>
                            　　
                            <li>わ行　２選
                            【わ】
                            
                            　　惑星はくせえ 
                            
                            　　ワンタンが満タン</li>
                </p>
            </div>
        </div>
    </section>
    
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About ロレム・イプサム</h2>
                
                lorem ipsum（ロレム・イプサム、略してリプサム lipsum ともいう）とは、出版、ウェブデザイン、グラフィックデザインなどの諸分野において使用されている典型的なダミーテキスト。書籍やウェブページや広告などのデザインのプロトタイプを制作したり顧客にプレゼンテーションしたりする際に、まだ正式な文章の出来上がっていないテキスト部分の書体（フォント）、タイポグラフィ、レイアウトなどといった視覚的なデザインを調整したりわかりやすく見せるために用いられる。</br>
              「lorem ipsum」は様々なバリエーションがあるが、もっとも一般的なテキストは以下の通りである。</br></br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

            </div>
        </div>
    </section>

    <!-- Download Section -->
    <!--<section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download Grayscale</h2>
                    <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
                </div>
            </div>
        </div>
    </section>-->

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact ロレム・イプサム</h2>
    
                <p><a href="mailto:kougayun@gmail.com">kougayun@gmail.com</a>
                </p>
                <!--<ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>-->
            </div>
        </div>
    </section>
    


    <!-- Map Section -->
    <div id="map"></div>
    
    

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; ロレム・イプサム in オヤジギャグ Website 2016</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/assets/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assests/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/assets/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/assests/grayscale.js"></script>

</body>

</html>
